html {
  scroll-behavior: smooth;
}
body.dark-mode {
  background-color: #121212; /* Dark background */
  color: white; /* Light text */
}

body {
  background-color: #f0f0f0; /* Light background */
  color: black; /* Dark text */
}
